{% extends "core/base.html" %}

{% block content %}

{% load static %}
{% load staticfiles %}

{% csrf_token %}




<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css">
<!-- jQuery -->
<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>

<link rel="stylesheet" type="text/css" href="{% static 'core/style.css' %}" />
<script type="text/javascript" charset="utf8" src="{% static 'core/personal_tracker.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'core/clamp.min.js' %}"></script>

<script>
  




$(document).ready(function() {
    // hasClass
  function hasClass(elem, className) {
    return new RegExp(' ' + className + ' ').test(' ' + elem.className + ' ');
  }
  // toggleClass
  function toggleClass(elem, className) {
    var newClass = ' ' + elem.className.replace( /[\t\r\n]/g, " " ) + ' ';
      if (hasClass(elem, className)) {
          while (newClass.indexOf(" " + className + " ") >= 0 ) {
              newClass = newClass.replace( " " + className + " " , " " );
          }
          elem.className = newClass.replace(/^\s+|\s+$/g, '');
          elem.style.cssText = null;
      } else {
          elem.className += ' ' + className;
          $clamp(elem, {clamp: 4});
      }
  }
  $('P.text_cell').click(function() {
            toggleClass(this, 'text_cell');
        });


  var elements = document.getElementsByClassName('text_cell');
  for (var i=0; i<elements.length; i++) {
    $clamp(elements[i], {clamp: 4});
  }

});


</script>



<div class="border">
  {% for goal in goal_list %}
    <div class="row border">
      <div class="column "><div class="border ">
        <div class="row">
          
          

          <form action="{{ form_action }}{{goal.id}}/" method="post">
            <div class="column float_right">
              <input type="submit" value="Save" class="input_button"/>
            </div>
            <div class="columnSpace"></div>
            <div class="column ">
              <h1>{{goal.short_name}}</h1>
            </div>
            <div class="input_button"><a href="{% url 'plus_one' goal.id %}">+1</a></div>
            {% csrf_token %}

            {{form.text_entry}}<BR>
            
            {% if action == "edit" %}
              {{ form.assets.name }}{{ form.assets }}
              
            {% else %}
              <div style="display:none;">{{ form.assets.name }}{{ form.assets }}</div>
            {%endif%}

            
            
          </form>

        </div>
      </div></div>
        <div class="columnSpace"></div>

      <div class="column "><div class="border ">
        
        {% for entry in goal.entries.all|dictsortreversed:"pub_date"|slice:":3" %}
          <div class="column">
            <div class="row border">
              {{ entry.pub_date|date:"D, M d" }}
              </BR>

              {% if entry.text_entry %}
                  <P id="div" href="#" class="text_cell">{{ entry.text_entry }}</P>
              {% elif entry.float_entry  %}
                  <h1>{{ entry.float_entry  }}</h1>
              {% elif entry.int_entry %}
                  <h1>{{ entry.int_entry }}</h1>
              {% endif %}
            </div>
            
          </div>
          <div class="rowSpace"></div>
        {% endfor %}
      </div></div>
    </div>
    <div class="rowSpace"></div>
  {% endfor %}
</div>

<BR><BR><BR>
<div class="input_button"><a href="{% url 'new_goal' %}"><BR><BR><BR>Create New Goal</a></div>

{%endblock%}

