{% extends "core/base.html" %}

{% block content %}

{% load static %}
{% load staticfiles %}

{% csrf_token %}




<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css">
<!-- jQuery -->
<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>

<link rel="stylesheet" type="text/css" href="{% static 'core/style.css' %}" />
<script type="text/javascript" charset="utf8" src="{% static 'core/personal_tracker.js' %}"></script>


  <table id="index_table" class="display" cellspacing="0" width="100%">
<!--     {% for goal in goal_list %}
    {% if forloop.first %}
    {% for entry in goal.entries.all %}
    {% if forloop.first %}
      <thead>
        <tr>
          <th>{{goal.short_name}}</th>
          <th>{{ entry.pub_date.label }}</th>
          <th>{{ entry.int_entry.label }}</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th>{{goal.short_name}}</th>
          <th>{{ entry.pub_date.label }}</th>
          <th>{{ entry.int_entry.label }}</th>
        </tr>
      </tfoot>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endfor %} -->
      <tbody>
        {% for goal in goal_list %}
          <tr>
            <td>{{goal.short_name}}</td>
            {% for entry in goal.entries.all|dictsortreversed:"pub_date" %}
              <td>{{ entry.pub_date|date:"P D, M d" }}</td>
              <td>{% firstof  entry.int_entry entry.float_entry entry.text_entry  %}</td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>


{%endblock%}



<!-- 

<table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
        </tfoot>
        <tbody>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
            </tr>
            <tr>
                <td>Garrett Winters</td>
                <td>Accountant</td>
                <td>Tokyo</td>
                <td>63</td>
                <td>2011/07/25</td>
                <td>$170,750</td>
            </tr>
            <tr>
                <td>Ashton Cox</td>
                <td>Junior Technical Author</td>
                <td>San Francisco</td>
                <td>66</td>
                <td>2009/01/12</td>
                <td>$86,000</td>
            </tr>
            <tr>
                <td>Donna Snider</td>
                <td>Customer Support</td>
                <td>New York</td>
                <td>27</td>
                <td>2011/01/25</td>
                <td>$112,000</td>
            </tr>
        </tbody>
    </table> -->